<div id="outlet_status_{{id}}" class="col-xs-6 col-md-3">
            <label class="switch">
                <input type="checkbox"{{#if active_event}} checked='checked'{{/if}} disabled=true>
                <span class="slider">{{id}}:{{name}}</span>
            </label>

</div>