<div id='top'>
    <div class="jumbotron">
        <h1 class="display-3">Whet</h1>
        <a id="connect" href="#">Connect</a>&nbsp;|&nbsp;Status:
        <span id="status">disconnected</span>
        <p id="time"> </p>
    </div>
</div>