        <button type="button" class="btn" data-toggle="collapse" data-target="#log-view">ws logs</button>
        <div id="log-view" class="form-group collapse">
            <h3>Log</h3>
            <div id="log" style="height: 50em; overflow:auto; border: 1px solid black"></div>

            <form id="chatform">
                <input id="text" type="textarea" class="form-control" wrap="soft" />
                <input type="submit" class="form-control" />
            </form>
        </div>