@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

.progress {
  position: relative;
}

.progress-bar-title {
  position: absolute;
  text-align: right;
  overflow: hidden;
  color: rgb(54, 54, 54);
  right: 0;
  left: 0;
  top: 0;
}